

@{
    ViewData["Title"] = "CustomerChangerInfo";
}

<link href="~/css/customer.css" rel="stylesheet" />

@* 导航 *@
<div class="navbar-nav">
    <div class="container">
        <div class="row">
            @* 顶部显示，问候语，登录名 *@
            <div class="col-md-12">
                <p style="display: inline-block">便捷购物，幸福生活</p>
                @if (ViewBag.CustomerName != null)
                {
                    <p style="display: inline-block; float: right">
                        <span>尊敬的：@ViewBag.CustomerName[0]&nbsp;</span>
                        <a asp-action="OutLogin"> 退出登录</a>
                    </p>
                }
            </div>
        </div>
    </div>
</div>

<div class="customer-title">
    <div class="container">
        <div class="row">
            <div class="col-md-10" style="font-size: 25px;font-weight: bold">修改店铺信息</div>
            @if (DateTime.Now.Hour >= 6 && DateTime.Now.Hour < 11)
            {
                <div class="col-md-2" style="text-align: center;">亲，上午好！</div>
            }
            @if (DateTime.Now.Hour >= 11 && DateTime.Now.Hour < 13)
            {
                <div class="col-md-2" style="text-align: center;">亲，中午好！</div>
            }
            @if (DateTime.Now.Hour >= 13 && DateTime.Now.Hour < 18)
            {
                <div class="col-md-2" style="text-align: center;">亲，下午好！</div>
            }
            @if (DateTime.Now.Hour >= 18 && DateTime.Now.Hour < 24)
            {
                <div class="col-md-2" style="text-align: center;">亲，晚上好！</div>
            }
            @if (DateTime.Now.Hour >= 0 && DateTime.Now.Hour < 6)
            {
                <div class="col-md-2" style="text-align: center;">夜深了，晚安</div>
            }

        </div>
    </div>
</div>

<div class="container custchange-bg">
    <div class="col-md-12">
        <br />
        <br />
        <br />
        <form asp-action="UpdateSellerInfo" id="customerinfo" method="post" class="col-md-9" style="margin: 0 auto">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text">LOGO</span>
                        </div>
                        <div class="customer-head" style="margin-left: 10px;">
                            <img src="@ViewBag.SellerInfo.SellerLogo" width="100%" height="100%" id="seller-logo" />
                        </div>
                        <input type="file" name="sellerlogo" class="uploadhead" id="uplodelogo" value="上传头像" />
                        <input type="hidden" id="sellerlogodata" name="logodata" value="" />
                        <span id="tips">(点击更换LOGO)</span>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group">
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text">帐&ensp;&ensp;号</span>
                        </div>
                        <input type="text" class="form-control" disabled="disabled" name="" maxlength="20" value="@ViewBag.SellerInfo.SellerNumber" title="账号不可修改">

                        <input type="hidden" class="form-control" name="sellernumber" maxlength="20" value="@ViewBag.SellerInfo.SellerNumber" >
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group">
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text">名&ensp;&ensp;称</span>
                        </div>
                        <input type="text" class="form-control" placeholder="昵称" id="shopname" name="shopname" maxlength="20" value="@ViewBag.SellerInfo.ShopName">
                    </div>
                </div>
            </div>
            
            <div class="col-md-12">
                <div class="form-group">
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text">地&ensp;&ensp;址</span>
                        </div>
                        <input type="text" class="form-control" placeholder="地址" id="shopaddress" name="shopaddress" maxlength="20" value="@ViewBag.SellerInfo.ShopAddress">
                    </div>
                </div>
            </div>

            <input type="hidden" id="imgextpic" name="imgextpic" value="">
            <input type="hidden" id="imgextlogo" name="imgextlogo" value="">

            <div class="col-md-12">
                <div class="form-group">
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text">图&ensp;&ensp;片</span>
                        </div>
                        <div class="customer-head" style="margin-left: 10px;">
                            <img src="@ViewBag.SellerInfo.SellerPic" width="100%" height="100%" id="seller-pic" />
                        </div>
                        <input type="file" name="customerhead" class="uploadhead" id="uplodepic" value="上传头像" />
                        <input type="hidden" id="sellerpicdata" name="picdata" value="" />
                        <span id="tips">(点击更换展示图片)</span>
                    </div>
                </div>
            </div>
            <br /><br />
            <div class="row" style="text-align: center;">
                <div class="col-md-6"><button type="submit" class="btn btn-danger">提交修改</button></div>
                <div class="col-md-6"><a type="button" asp-action="CustomerPage" class="btn btn-danger">返回首页</a></div>
            </div>

        </form>
    </div>
</div>

@*<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation/dist/additional-methods.js"></script>*@
<script>
    $(() => {
        //声明文件读取对象
        var readerlogo = new FileReader();
        var readerpic = new FileReader();
        //当读取到文件后进行赋值
        readerlogo.onload = function () {
            $("#seller-logo").attr("src", this.result);
            $("#sellerlogodata").val(this.result);
        };
        readerpic.onload = function () {
            $("#seller-pic").attr("src", this.result);
            $("#sellerpicdata").val(this.result);
        };

        //当选中文件后进行文件的读取
        $("#uplodepic").change(function () {
            var ext = this.files[0].name.split('.');
            if (ext[ext.length - 1] != 'jpg' && ext[ext.length - 1] != 'jpeg' && ext[ext.length - 1] != 'png') {
                alert("请选择有效的文件！");
                return;
            }
            $("#imgextpic").val(ext[ext.length - 1]);
            readerpic.readAsDataURL(this.files[0]);
        });

        $("#uplodelogo").change(function () {
            var ext = this.files[0].name.split('.');
            if (ext[ext.length - 1] != 'jpg' && ext[ext.length - 1] != 'jpeg' && ext[ext.length - 1] != 'png') {
                alert("请选择有效的文件！");
                return;
            }
            $("#imgextlogo").val(ext[ext.length - 1]);
            readerlogo.readAsDataURL(this.files[0]);
        });
        //{
        ////检查电话号码格式
        //jQuery.validator.addMethod("CheckTel", function (value, element) {
        //    var mobile = /^[1][3,4,5,7,8][0-9]{9}$/;
        //    return mobile.test(value);
        //}, "您的号码格式有误");

        ////检查昵称是否重复
        //jQuery.validator.addMethod("CheckName",
        //    function (value, element) {
        //        //如果没改名，就不用去搜索是否重复
        //        if ($("#CustomerNowName").val() == value)
        //            return true;
        //        //为了避免每输入一个字符就执行一次数据库检查名称请求，在此获取这个元素的焦点状态
        //        var isFocus = $("#" + element.id).is(":focus");
        //        var boo = true;
        //        //只有当该元素失去焦点的时候才会执行检查请求
        //        if (!isFocus) {
        //            $.ajax({
        //                url: "/Home/CheckCustomerName",
        //                type: "POST",
        //                async: false,
        //                dataType: "json",
        //                data: { CustName: value },
        //                success: function (data) {
        //                    if (data === true) {
        //                        boo = false;
        //                        return;
        //                    }
        //                    boo = true;
        //                }
        //            });
        //            return boo;
        //        }
        //        return true;

        //    }, "昵称已被使用"
        //);

        //$('#customerinfo').validate({
        //    //设置验证失败时存放错误提示的标签
        //    errorElement: 'span',
        //    //设置标签用到的样式
        //    errorClass: 'invalid-feedback',
        //    //设置验证用的规则
        //    rules: {
        //        CustomerName: {
        //            required: true,
        //            CheckName: true
        //        },
        //        CustomerTel: {
        //            required: true,
        //            CheckTel: true,
        //            minlength: 11
        //        }
        //    },
        //    //设置验证失败的错误提示
        //    messages: {
        //        CustomerName: {
        //            required: "此项必填"
        //        },
        //        CustomerTel: {
        //            required: "此项必填",
        //            minlength: "电话长度固定为11位"

        //        },
        //    },
        //    //验证失败触发的事件
        //    errorPlacement: function (error, element) {
        //        element.next().remove(); //删除显示图标
        //        element.after(
        //            '<span class="glyphicon form-control-feedback invalid-feedback" aria-hidden="true"></span>'
        //        );
        //        element.parent().append(error);
        //    },
        //    //设置高亮显示的事件
        //    highlight: function (element) {
        //        $(element)
        //            .closest('.form-group')
        //            .find('input')
        //            .addClass('is-invalid');
        //    },
        //    //验证成功的事件
        //    success: function (label) {
        //        var el = label.closest('.form-group').find('input');
        //        el.next().remove(); //与errorPlacement相似
        //        el.after('<span class="glyphicon form-control-feedback valid-feedback" aria-hidden="true"></span>');
        //        el.removeClass('is-invalid').addClass('is-valid');
        //    }
            //});
        //}
    })

</script>